# Workspace
keys.json
config.json
mod/
decrypted/
apk/
app/

# Quality of Life
.cargo/
.cl*/
.st*/
.re*/
*.py
CL*.md
ST*.md
RE*.ms

# Other
/target/
**/*.rs.bk
.cargo/
rustfmt.toml
.vscode/
.idea/
*.swp
.DS_Store
modules*.md
Thumbs.db
